<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.movieshareback.dao.CategoryMapper">
    <!--
    `category_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键',
    `category_name` VARCHAR(100) NOT NULL COMMENT '类别名',
    `category_des` VARCHAR(200) NOT NULL COMMENT '描述',
    `created_time` DATETIME    COMMENT '创建时间' ,
    `created_by` VARCHAR(32)    COMMENT '创建时间',
    `updated_time` DATETIME    COMMENT '更新时间' ,
    `updated_by` VARCHAR(32)    COMMENT '更新人' ,
    `is_delete` int(1) NOT NULL  DEFAULT 0 COMMENT '是否删除',
    PRIMARY KEY (category_id),
    INDEX (is_delete)
    -->
    <resultMap id="CategoryResultMap" type="com.hao.movieshareback.model.Category">
        <id property="categoryId" column="category_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="categoryName" column="category_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="categoryDes" column="category_des" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="createdBy" column="created_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="updatedBy" column="updated_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" javaType="java.lang.Boolean" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List" >
        category.category_id,category.category_name,category.category_des,category.created_time,category.created_by,category.updated_time,
        category.updated_by,category.is_delete
    </sql>

    <insert id="save" parameterType="com.hao.movieshareback.model.Category" >
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="categoryName != null" >
                category_name,
            </if>
            <if test="categoryDes != null" >
                category_des,
            </if>
            <if test="createdTime != null" >
                created_time,
            </if>
            <if test="createdBy!=null">
                created_by,
            </if>
            <if test="updatedTime!=null">
                updated_time,
            </if>
            <if test="updatedBy!=null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="categoryName != null" >
                #{categoryName},
            </if>
            <if test="categoryDes != null" >
                #{categoryDes},
            </if>
            <if test="createdTime != null" >
                #{createdTime},
            </if>
            <if test="createdBy!=null">
                #{createdBy},
            </if>
            <if test="updatedTime!=null">
                #{updatedTime},
            </if>
            <if test="updatedBy!=null">
                #{updatedBy},
            </if>
        </trim>
    </insert>

    <select id="selectAllCategory" resultMap="CategoryResultMap">
        select <include refid="Base_Column_List"></include>
        from category
    </select>

    <select id="selectCategoryById" resultMap="CategoryResultMap">
        select <include refid="Base_Column_List"></include>
        from category where category.category_id=#{categoryId}
    </select>
</mapper>