<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.movieshareback.dao.MenuMapper">
    <!--
    `permission_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键',
    `permission_name` VARCHAR(100) NOT NULL COMMENT '名字',
    `permission_des` VARCHAR(200) NOT NULL COMMENT '描述',
    `permission_action` VARCHAR(200) NOT NULL COMMENT '权限实体',
    `created_time` DATETIME    COMMENT '创建时间' ,
    `created_by` VARCHAR(32)    COMMENT '创建时间',
    `updated_time` DATETIME    COMMENT '更新时间' ,
    `updated_by` VARCHAR(32)    COMMENT '更新人' ,
    `is_delete` int(1) NOT NULL  DEFAULT 0 COMMENT '是否删除',
    PRIMARY KEY (permission_id),
    INDEX (is_delete)
    -->
    <resultMap id="MenuResultMap" type="com.hao.movieshareback.model.Menu">
        <id property="menuId" column="menu_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="menuName" column="menu_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="menuDes" column="menu_des" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="menuEng" column="menu_eng" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="menuUrl" column="menu_url" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="hasChild" column="has_child" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <result property="parentMenuId" column="parent_menu_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="sort" column="sort" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="createdTime" column="created_time" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="createdBy" column="created_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="updatedBy" column="updated_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" javaType="java.lang.Boolean" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List" >
        menu.menu_id,menu.menu_name,menu.menu_des,menu.menu_eng,menu.menu_url,menu.has_child,menu.parent_menu_id,menu.sort,
        menu.created_time,menu.created_by,menu.updated_time,menu.updated_by,menu.is_delete
    </sql>

    <insert id="save" parameterType="com.hao.movieshareback.model.Permission" >
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="menuId != null" >
                menu_id,
            </if>
            <if test="menuName != null" >
                menu_name,
            </if>
            <if test="menuDes != null" >
                menu_des,
            </if>
            <if test="menuEng!=null">
                menu_eng,
            </if>
            <if test="menuUrl != null" >
                menu_url,
            </if>
            <if test="hasChild != null">
                has_child,
            </if>
            <if test="parentMenuId!=null">
                parent_menu_id,
            </if>
            <if test="sort!=null">
                sort,
            </if>
            <if test="createdTime != null" >
                created_time,
            </if>
            <if test="createdBy!=null">
                created_by,
            </if>
            <if test="updatedTime!=null">
                updated_time,
            </if>
            <if test="updatedBy!=null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="menuId != null" >
                #{menuId},
            </if>
            <if test="menuName != null" >
                #{menuName},
            </if>
            <if test="menuDes != null" >
                #{menuDes},
            </if>
            <if test="menuEng!=null">
                #{menuEng},
            </if>
            <if test="menuUrl != null" >
                #{menuUrl},
            </if>
            <if test="hasChild!=null">
                #{hasChild}
            </if>
            <if test="parentMenuId!=null">
                #{parentMenuId}
            </if>
            <if test="sort!=null">
                #{sort},
            </if>
            <if test="createdTime != null" >
                #{createdTime},
            </if>
            <if test="createdBy!=null">
                #{createdBy},
            </if>
            <if test="updatedTime!=null">
                #{updatedTime},
            </if>
            <if test="updatedBy!=null">
                #{updatedBy},
            </if>
        </trim>
    </insert>

    <select id="getMenuListByRoleId" resultMap="MenuResultMap">
        select <include refid="Base_Column_List"></include>
        from menu join role_menu join role
        on role.role_id = #{roleId} and role.role_id=role_menu.role_id and menu.menu_id = role_menu.menu_id
            and role.is_delete=0 and role_menu.is_delete=0 and menu.is_delete=0;
    </select>
</mapper>