<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.movieshareback.dao.TagMapper">
    <!--
   `tag_id` int(11) NOT NULL AUTO_INCREMENT COMMENT '主键',
    `tag_name` VARCHAR(100) NOT NULL COMMENT '标签名称',
    `tag_desc` VARCHAR(200) NOT NULL COMMENT '标签描述',
    `created_time` DATETIME    COMMENT '创建时间' ,
    `created_by` VARCHAR(32)    COMMENT '创建时间',
    `updated_time` DATETIME    COMMENT '更新时间' ,
    `updated_by` VARCHAR(32)    COMMENT '更新人' ,
    `is_delete` int(1) NOT NULL  DEFAULT 0 COMMENT '是否删除',
    PRIMARY KEY (tag_id),
    INDEX (is_delete)
    -->
    <resultMap id="TagResultMap" type="com.hao.movieshareback.model.Tag">
        <id property="tagId" column="tag_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="tagName" column="tag_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="tagDesc" column="tag_desc" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="createdTime" column="created_time" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="createdBy" column="created_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" javaType="java.util.Date" jdbcType="DATE"/>
        <result property="updatedBy" column="updated_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" javaType="java.lang.Boolean" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List" >
        tag.tag_id,tag.tag_name,tag.tag_desc,tag.created_time,tag.created_by,tag.updated_time,tag.updated_by,tag.is_delete
    </sql>

    <insert id="save" parameterType="com.hao.movieshareback.model.Tag" >
        insert into role
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="tagName != null" >
                tag_name,
            </if>
            <if test="tagDesc != null" >
                tag_des,
            </if>
            <if test="createdTime != null" >
                created_time,
            </if>
            <if test="createdBy!=null">
                created_by,
            </if>
            <if test="updatedTime!=null">
                updated_time,
            </if>
            <if test="updatedBy!=null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="tagName != null" >
                #{tagName},
            </if>
            <if test="tagDesc != null" >
                #{tagDesc},
            </if>
            <if test="createdTime != null" >
                #{createdTime},
            </if>
            <if test="createdBy!=null">
                #{createdBy},
            </if>
            <if test="updatedTime!=null">
                #{updatedTime},
            </if>
            <if test="updatedBy!=null">
                #{updatedBy},
            </if>
        </trim>
    </insert>
    <select id="selectAllTag" resultMap="TagResultMap">
        select <include refid="Base_Column_List"></include>
        from tag
    </select>
    <select id="selectTagByTagId" resultMap="TagResultMap">
        select <include refid="Base_Column_List"></include>
        from tag where tag.tag_id=#{tagId}
    </select>
    <select id="selectTagByVideoApprovalId" resultType="java.lang.Integer">
        select tag_video_approval.tag_id
        from tag_video_approval where tag_video_approval.video_approval_id=#{videoApprovalId}
    </select>
    <insert id="saveTagVideoApprovalRelation">
        insert into tag_video_approval(tag_id, video_approval_id) values (#{tagId},#{videoApprovalId})
    </insert>
    <insert id="savaTagVideoRelation">
        insert into video_tag(video_id,tag_id) values (#{videoId},#{tagId})
    </insert>

    <select id="selectTagByVideoId" resultType="java.lang.Integer">
        select video_tag.tag_id
        from video_tag where video_tag.video_id=#{videoId}
    </select>
</mapper>