<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hao.movieshareback.dao.UserMapper">
    <resultMap id="UserResultMap" type="com.hao.movieshareback.model.User">
        <id property="userId" column="user_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="userName" column="user_name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="password" column="password" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="email" column="email" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="introduce" column="introduce" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="avatarPicId" column="avatar_pic_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="userSkinId" column="user_skin_id" javaType="java.lang.Integer" jdbcType="INTEGER"/>
        <result property="hasActive" column="has_active" javaType="java.lang.Boolean" jdbcType="BIT"/>
        <result property="lastPasswordResetDate" column="last_password_reset_date" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="createdTime" column="created_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="created_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="updatedTime" column="updated_time" javaType="java.util.Date" jdbcType="TIMESTAMP"/>
        <result property="updatedBy" column="updated_by" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <result property="isDelete" column="is_delete" javaType="java.lang.Boolean" jdbcType="BIT"/>
    </resultMap>

    <sql id="Base_Column_List" >
        user.user_id,user.user_name,user.password,user.salt,user.email,user.introduce,
        user.avatar_pic_id,user.user_skin_id,user.last_password_reset_date,user.has_active,user.created_time,user.created_by,user.updated_time,user.updated_by,user.is_delete
    </sql>

    <insert id="save" parameterType="com.hao.movieshareback.model.User" useGeneratedKeys="true" keyProperty="userId">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="userName != null" >
                user_name,
            </if>
            <if test="password != null" >
                password,
            </if>
            <if test="salt != null" >
                salt,
            </if>
            <if test="email != null" >
                email,
            </if>
            <if test="introduce != null" >
                introduce,
            </if>
            <if test="avatarPicId != null" >
                avatar_pic_id,
            </if>
            <if test="userSkinId!=null">
                user_skin_id,
            </if>
            <if test="lastPasswordResetDate!=null">
                last_password_reset_date,
            </if>
            <if test="createdTime != null" >
                created_time,
            </if>
            <if test="createdBy!=null">
                created_by,
            </if>
            <if test="updatedTime!=null">
                updated_time,
            </if>
            <if test="updatedBy!=null">
                updated_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="userName != null" >
                #{userName},
            </if>
            <if test="password != null" >
                #{password},
            </if>
            <if test="salt != null" >
                #{salt},
            </if>
            <if test="email != null" >
                #{email},
            </if>
            <if test="introduce != null" >
                #{introduce},
            </if>
            <if test="avatarPicId != null" >
                #{avatarPicId},
            </if>
            <if test="userSkinId!=null">
                #{userSkinId}
            </if>
            <if test="lastPasswordResetDate != null">
                #{lastPasswordResetDate},
            </if>
            <if test="createdTime != null" >
                #{createdTime},
            </if>
            <if test="createdBy!=null">
                #{createdBy},
            </if>
            <if test="updatedTime!=null">
                #{updatedTime},
            </if>
            <if test="updatedBy!=null">
                #{updatedBy},
            </if>
        </trim>
    </insert>

    <select id="getUserByUserName" resultMap="UserResultMap" parameterType="java.lang.String">
        SELECT <include refid="Base_Column_List"></include>
        from user where user.user_name=#{userName} and is_delete=0
    </select>

    <select id="getCountByEmail" resultType="java.lang.Integer">
        select count(*) from user
        where user.email=#{email} and is_delete=0
    </select>

    <select id="getCountByUserName" resultType="java.lang.Integer">
        select count(*) from user
        where user.user_name=#{userName} and is_delete=0
    </select>
    <select id="getUserByUserId" resultMap="UserResultMap">
        SELECT <include refid="Base_Column_List"></include>
        from user where user.user_id=#{userId} and is_delete=0
    </select>

    <update id="activeUser">
        update user set user.has_active = true where user.user_name=#{userName} and is_delete=0
    </update>

    <update id="updateSkin" parameterType="com.hao.movieshareback.model.UserSkin">
        update user set user.user_skin_id=#{pictureId} where user.user_id=#{userId} and is_delete=0
    </update>

    <update id="updateUserAvatarUrl">
        update user set user.avatar_pic_id=#{pictureId} where user.user_id=#{userId}
    </update>

    <select id="getFollowingUserList" resultMap="UserResultMap">
        select <include refid="Base_Column_List"></include>
        from user join follow
        on user.user_id=follow.followed_user_id and follow.user_id=#{user.userId}
        and user.has_active=1 and user.is_delete=0
        <if test="user.userName!=null">
            and user.user_name like CONCAT('%',#{user.userName},'%')
        </if>
        order by follow.created_time DESC
    </select>

    <select id="getFollowedUserList" resultMap="UserResultMap">
        select <include refid="Base_Column_List"></include>
        from user join follow
        on user.user_id=follow.user_id and follow.followed_user_id=#{user.userId}
        and user.has_active=1 and user.is_delete=0
        <if test="user.userName!=null">
            and user.user_name like CONCAT('%',#{user.userName},'%')
        </if>
        order by follow.created_time DESC
    </select>

    <select id="searchUser" resultMap="UserResultMap">
        select <include refid="Base_Column_List"></include>,
        (select count(1) from follow where follow.followed_user_id=user.user_id) as followCount
        from user
        where user.has_active=1 and user.is_delete=0
        <if test="userName!=null">
            and user.user_name like CONCAT('%',#{userName},'%')
        </if>
        order by  followCount DESC
    </select>
</mapper>